extends ../layout

block content
    h1= title
    p Welcome to #{title}
    ul(class="gawai-list")
        each val, index in gawais
            li
                div(class="row")
                    div(class="col imei")
                        a(href="/gawais/"+val._id) #{val._id}
                    div(class="col number")
                        span #{val.shown}
